<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Saga</title>
    <script
    src="http://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <!-- <script type='text/javascript' src='../../marvel.js'></script> -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script type='text/javascript' src='../saga.json'></script>
    <style>
     .fa:hover {
opacity: 0.7;
color: orange;
}
    .fa {
padding: 20px;
font-size: 30px;
width: 30px;
text-align: center;
text-decoration: none;
margin: 5px 2px;
border-radius: 50%;
}
 /* nav bar */
    ul {
        list-style-type: none;
       }
    li a {
        display: inline-block;
        padding: 12px 12px;
        text-decoration: none;
        text-align: center;
    }
    ul li {
        display: inline-block;
        /* padding: 12px 12px; */
    }

li a:hover {
    color: orange;
    overflow: hidden;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: whitesmoke;
  text-align: center;
}
    </style>
    <!-- <script type='text/javascript' src='../db/config.js'></script> -->

    <!-- <link rel="stylesheet" type="text/css" href="../style/style.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="../style/reset.css"> -->
</head>
<body>
    <nav>
        <ul>
                <li><a href="/saga">Home</a></li>
                <li><a href="/volume">Books</a></li>
                <li><a href="/reviews">Reviews</a></li>
                <li><a href="/info">About</a></li>
              </ul>
    </nav>
