</body>
<footer class="footer">
<!-- <a href="https://www.instagram.com/fionastaples/"></a><i class="fa fa-instagram" aria-hidden="true"></i> -->
<a href="https://www.facebook.com/BKVSaga/" class="fa fa-facebook"></a>
<a href="https://www.instagram.com/fionastaples/" class="fa fa-instagram"></a>
</footer>
</html>
