<!-- API Used: https://comicvine.gamespot.com/api/documentation -->
<% include ./partials/boilerplate %>

<div>
    <%= book.results.character_credits %>
  <img src="<%= book.results.image.medium_url %>" />
</div>

<div>
  <%- book.results.deck %>
</div>
<div>
  <%- book.results.description %>

</div>




<% include ./partials/footer %>
