<% include ./partials/boilerplate %>

<h1>Reviews</h1>

<form method='POST' action='/saga'>
  <input name='name' type='text' placeholder='Name' />
  <input name='location' type='text' placeholder='Location' />
  <input name='review' size=60 type='text' placeholder='Review' />
  <button method="POST" action="/saga" type="submit" class="submit">Submit</button>
</form>




<% include ./partials/footer %>
