<% include ./partials/boilerplate %>

<h1>Testing from Ratings Page</h1>

<form method='POST' action='/saga'>
  <input name='name' type='text' placeholder='Name' />
  <textarea name='comment' size=200 type='text' placeholder='comment' />
  <button method="POST" action="/saga" type="submit" class="submit">Submit</button>
</form>




<% include ./partials/footer %>
