<% include ./partials/boilerplate %>

<h1>Quite possibly the greatest comic book in the world...</h1>
<!-- <p><a href="./saga-volume/1">Volume 1</a></p> -->

 <!-- <img src="./images/covers/vol1.jpg"> -->



<div>

  <img src="<%= book.results.image.medium_url %>" />

    </div>







<% include ./partials/footer %>
